{%extends "layout.html"%}

{%block content%}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            <form class="form-inline" method="POST">
                <div class="form-group">
                    <label class="sr-only" >ID</label>
                    <input type="text" class="form-control" name="id" placeholder="id">
                </div><button type="submit" class="btn btn-success">提交订单</button>
            </form>
        </div>

    </div>
</div>
{%endblock%}